<h2>Edit condominium</h2>

<%= render "form.html", changeset: @changeset,
                        action: condominium_path(@conn, :update, @condominium) %>

<%= link "Back", to: condominium_path(@conn, :index) %>
