<h2>Edit apartment</h2>

<%= render "form.html", changeset: @changeset,
                        action: apartment_path(@conn, :update, @apartment) %>

<%= link "Back", to: apartment_path(@conn, :index) %>
